{% extends 'base.html' %}

{% block content %}

    <div class="wrapper">
        <section class="user-header">
            <img class="profile-picture" src="{{ profile_picture_src }}">
            {% if username %}
                <h3>@{{ username }}</h3>
            {% else %}
                <h3>Couldn't fetch username!</h3>
            {% endif %}
            <hr>
            <div class="control-buttons">
                {% for item in menu_items %}
                    <a href="{{ url_for(item.url) }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </section>

        <section class="settings" style="overflow-y:auto; border: none; padding: 0; margin: 0;">
            <form method="post" class="update-profile">
                <h3>Settings</h3>
                {% for cat, msg in get_flashed_messages(True) %}
                    <p class=" flash {{ cat }}">{{ msg }}</p>
                {% endfor %}

                {{ update_form.csrf_token }}

                <h4>Username</h4>
                {{ update_form.new_username}}

                <h4>Password</h4>
                {{ update_form.old_password }}
                {{ update_form.new_password }}
                {{ update_form.rnew_password }}

                <button>Save changes</button>

                <a href="#" style=" text-align: center; color: red;">Delete account</a>


            </form>
        </section>
    </div>


{% endblock %}
